html{
    font-size: 10px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 2.4rem;
    text-align: center;
    color: white;
    background-color:darkred;
    border-radius: 4rem;
    margin: 0 auto;
    width: 20%;
    height: 3rem;
    padding: 1rem;
    margin-top: 1rem;
}
header{
    margin: 0 auto;
    margin-top: 1rem;
    width: 50%;
    background-color: bisque;
    border-radius: 4rem;
    height: 100px;
    padding-top: 2%;
}
div{
    margin: 0 auto;
    width: 50%;
    background-color:aquamarine;
    border-radius: 4rem;
    height: 100px;
    padding-top: 2%;
}
footer{
    margin: 0 auto;
    width: 50%;
    background-color:blue;
    border-radius: 4rem;
    height: 100px;
    padding-top: 2%;
}